@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .advantages {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
  }

  .advantages-list-item {
    margin-bottom: 0;
  }

  .advantages-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
    border-radius: 4px;
  }

  .advantages-title {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24 / 20);
  }

  .advantages-text {
    font-weight: 400;
  }

  .employer-card {
    margin-bottom: 0;
  }

  .customer-list {
    display: flex;
    flex-wrap: nowrap;
  }

  .customer-item {
    width: 168px;
    margin-bottom: 0;
  }

  .footer {
    display: flex;
  }

  .logo-wrap {
    margin-right: 120px;
  }

  .social-wrap {
    margin-right: 80px;
  }

  .subscribe-form-wrap {
    display: block;
  }
}
