@media screen and (min-width: 480px) {
  .container {
    max-width: 428px;
  }

  .advantages-list-item {
    margin-bottom: 72px;
  }

  .advantages-list-item:nth-last-child(-n + 1) {
    margin-bottom: 0;
  }

  .work-section {
    display: none;
  }

  .employer-card {
    margin-bottom: 72px;
  }

  .employer-card:nth-last-child(-n + 1) {
    margin-bottom: 0;
  }

  .customer-item {
    flex-basis: calc((100% - 16px) / 2);
  }
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }

  .auth-nav {
    display: none;
  }
}

@media screen and (min-width: 468px), (max-width: 767px) {
  .team-container {
    max-width: 264px;
  }
}
