:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #404bbf;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

/* Common */
body {
  color: var(--primary-text-color);
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  min-width: 320px;
}

.list {
  list-style: none;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* Header */

.header {
  padding: 24px 0;
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger-menu {
  stroke: currentColor;
}

.burger-menu-button {
  display: flex;
  align-items: center;
  width: 32px;
  height: 22px;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out,
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(0);
}

.mobile-menu-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  padding: 40px;
}

.mobile-menu-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-menu-site-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-site-nav-list-link {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current-link {
  color: #404bbf;
}

.contacts-and-social-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
}

.mobile-menu-contacts {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.mobile-menu-phone {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 24px;
  line-height: calc(40 / 27);
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #4d5ae5;
  margin-bottom: 40px;
}

.mobile-menu-email {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  color: #434455;
}

.header-nav {
  align-items: center;
}

.logo {
  color: var(--title-text-color);
  text-decoration: none;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-item {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.site-nav {
  gap: 40px;
}

.site-nav .link {
  padding: 24px 0 28px;
  position: relative;
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link.current {
  color: var(--accent-color);
  text-decoration: none;
}

.current::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.address {
  margin-left: auto;
}

.auth-nav {
  gap: 40px;
}

.auth-nav .link {
  color: var(--primary-text-color);
  text-decoration: none;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus,
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

/* ----------------- Main Page --------------------*/

/* ------------------ Hero ------------------------ */

.hero {
  padding: 188px;
  text-align: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-image/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-title {
  margin: auto;
  margin-bottom: 48px;
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
}

.hero-button {
  padding: 16px 32px;
  font-family: inherit;
  color: #ffffff;
  background-color: #4d5ae5;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  display: block;
  cursor: pointer;
  margin: 0 auto;
  border-radius: 4px;
  border-color: transparent;
  min-width: 169px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  color: #ffffff;
  background-color: #404bbf;
  cursor: pointer;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* Advantages */

.advantages-icon {
  display: flex;
  display: none;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
  border-radius: 4px;
}

.advantages-icon-item {
  display: flex;
  fill: currentColor;
  justify-content: center;
  align-items: center;
}

.advantages-title {
  margin-bottom: 8px;

  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-text-color);
}

.advantages-text {
  text-align: center;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

/* What we are doing */

.work-section {
  padding-top: 0;
}

.section-title-name {
  margin-bottom: 72px;
  text-align: center;
  font-family: 'Roboto';
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.work-list {
  display: flex;
  gap: 24px;
}

/* ------------------- Team ------------------------- */

.team-section {
  background-color: #f4f4fd;
}

.team-section .section-title {
  margin: 0;
  margin-bottom: 72px;
}

.employer-card {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.empl-pic {
  display: block;
  width: 100%;
  height: auto;
}

.employee {
  background-color: #ffffff;
  text-align: center;
  padding: 32px 0;
}

.team-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-position {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  padding-left: 14px;
  padding-right: 14px;
}

.team-social-item {
  width: 40px;
  height: 40px;
}

.team-social-icon {
  width: 16px;
  height: 16px;
  fill: currentColor;
}

.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: #404bbf;
}

.team-social-item:focus {
  background-color: #404bbf;
}

/* ------------------- Customers -------------------- */

.customer-title {
  margin-bottom: 72px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-text-color);
}

.customer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0 16px;
}

.customer-item {
  width: 190px;
  height: 88px;
  margin-bottom: 72px;
}

.customer-item:nth-last-child(-n + 2) {
  margin-bottom: 0;
}

.customer-link {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: #8e8f99;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover,
.customer-link:focus {
  color: #404bbf;
  border-color: #404bbf;
}

.customer-icon {
  fill: currentColor;
}

/* ----------------- Footer ---------------------- */
.footer {
  background-color: #2e2f42;
  color: #e7e9fc;
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.logo-wrap {
  max-width: 268px;
  margin: 0 auto;
  margin-bottom: 72px;
}

/* .logo {
  display: block;
  text-align: center;
  margin: 0 auto;
} */

.logo-item-white {
  color: #f4f4fd;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
  margin-top: 16px;
  max-width: 268px;
}

.social-wrap {
  margin: auto;
  margin-bottom: 72px;
}

.social-subtitle {
  display: block;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}
.footer-social-list {
  display: flex;
  gap: 16px;
}
.footer-social-item {
  width: 40px;
  height: 40px;
}
.footer-social-link {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.subscribe-form {
  display: block;
}

.subscribe-form-wrap {
  width: 100%;
}

.subscribe-form-title {
  display: block;
  text-align: center;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.subscribe-form-input {
  max-width: 396px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-left: 16px;
  color: #ffffff;
  margin-bottom: 16px;
}

.subscribe-form-input::placeholder {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  line-height: calc(24 / 12);
  color: rgba(255, 255, 255, 0.6);
}

.button-wrap {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.subscribe-button {
  display: block;
  margin: auto;
  width: 165px;
  height: 40px;
  background-color: rgba(77, 90, 229, 1);
  border-radius: 4px;
  outline: none;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button-icon {
  fill: rgba(255, 255, 255, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* -------------------Backdrop-------------------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 350ms linear, visibility 350ms linear,
    transform 350ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  height: 584;
  padding-top: 72px;
  padding-bottom: 24px;
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-button-icon {
  width: 8px;
  height: 8px;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover {
  color: #ffffff;
  background-color: #404bbf;
}

/* ---------------- Form ------------------ */

.leave-contacts-form {
  width: 360px;
  margin: 0 auto;
}

.form-title {
  display: block;
  text-align: center;
  margin-bottom: 16px;
}

.form-group {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.form-label {
  margin-bottom: 4px;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: #8e8f99;
}

.form-input {
  padding-left: 38px;
  width: 100%;
  height: 40px;
  color: #2e2f42;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transform: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  outline: none;
  border: 1px solid #4d5ae5;
}

.form-icon {
  fill: currentColor;
  position: absolute;
  display: block;
  top: 26px;
  left: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-icon {
  fill: #4d5ae5;
}

.comment {
  padding-top: 8px;
  padding-left: 16px;
  width: 100%;
  min-height: 120px;
  color: #2e2f42;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transform: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment:focus {
  outline: none;
  border-color: #4d5ae5;
}

.comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: 'Roboto';
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
}

.leave-contacts-form textarea {
  resize: none;
}

.policy-confirm {
  margin-top: 16px;
  margin-bottom: 24px;
}

.form-checkbox--icon {
  display: flex;
  width: 10px;
  height: 8px;
  fill: currentColor;
}

.form-label-checkbox::before {
}

.form-label-checkbox {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
  display: flex;
  align-items: center;
  color: #8e8f99;
}

.form-checkbox:checked + .form-label-checkbox::before {
  background-color: #404bbf;
  border: 1.25px solid #404bbf;
  border-radius: 2px;
  background-image: url(../images/icons/vector.svg);
  fill: #f4f4fd;
  background-repeat: no-repeat;
  background-position: center;
}

.form-label-checkbox span {
  width: 16px;
  height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox:checked + .form-label-checkbox span {
  fill: #f4f4fd;
  background-color: #404bbf;
  border-color: #404bbf;
}

.form-checkbox:focus + .form-label-checkbox::before {
  fill: #f4f4fd;
  background-color: #404bbf;
  border-color: #404bbf;
}

.form-checkbox-link {
  margin-left: 4px;
}

.submit-button {
  padding: 16px 32px;
  font-family: 'Roboto';
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  align-items: center;
  letter-spacing: 0.04em;
  display: block;
  cursor: pointer;
  margin: 0 auto;
  border-radius: 4px;
  border-color: transparent;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:hover,
.submit-button:focus {
  background-color: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ------------------Portfolio---------------------- */

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.main-menu {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.filter-button {
  padding: 12px 24px;
  min-width: 78px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  color: #4d5ae5;
  background-color: #f4f4fd;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  color: #ffffff;
  background-color: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.overlay-thumb {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(77, 90, 229, 1);
}

.list-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-link:hover,
.list-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.list-link:hover .overlay-text,
.list-link:focus .overlay-text {
  transform: translateY(0);
  opacity: 1;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-item {
  width: 360px;
}

.card-descr {
  padding: 32px 16px;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  margin-bottom: 8px;
}

.portfolio-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
